@font-face {
  font-family: 'icomoon';
  src:  url(../c2f09fe7cd4f11b77232.eot) format('embedded-opentype'),
    url(../56b6d9dba452a7808344.ttf) format('truetype'),
    url(../c0c99574ba981ac44dde.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-double-left:before {
  content: "\e901";
}
.icon-double-right:before {
  content: "\e902";
}
.icon-left:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e904";
}

.picker-panel{width:244px;color:#111;border:1px solid #ddd;box-shadow:0 2px 6px #ccc;background:#fff;border-radius:2px;line-height:20px;margin:5px 0}.picker-panel .header{display:flex;flex-direction:row;justify-content:space-between;padding:10px 10px 5px;color:#324558}.picker-panel .header .icon-btn{font-size:12px;border:0;cursor:pointer;outline:none;padding:3px 4px;color:#aaa;background-color:#f5f7fa}.picker-panel .header .icon-btn:hover{color:#13a474}.picker-panel .header .date-label{padding:0 12px;display:flex;justify-content:center;font-size:14px}.picker-panel .header .date-label>div{margin:0 5px}.picker-panel .header .date-label>div:not(.disabled){cursor:pointer}.picker-panel .header .date-label>div:not(.disabled):hover{color:#13a474}.datepicker-box{width:168px;position:relative}.day-table{padding:10px;color:#324558}.day-table tr{display:flex;font-size:12px}.day-table tr th{width:32px;height:32px;line-height:32px;color:#939ea9;font-weight:normal}.day-table tr td{width:32px;height:32px;line-height:32px;text-align:center}.day-table tr td.last,.day-table tr td.next{color:#939ea9}.day-table:not(.is-week-mode) tr>td.disabled,.day-table.is-week-mode>tbody tr.disabled{cursor:not-allowed;background-color:#eee}.day-table:not(.is-week-mode) tr>td:not(.disabled),.day-table.is-week-mode>tbody tr:not(.disabled){cursor:pointer}.day-table:not(.is-week-mode) tr>td:not(.pick):hover,.day-table.is-week-mode>tbody tr:not(.pick):hover{background-color:rgba(19,164,116,.2)}.day-table:not(.is-week-mode) td.pick,.day-table.is-week-mode>tbody tr.pick{background-color:#13a474;color:#fff}.day-table:not(.is-week-mode) td.pick .last,.day-table:not(.is-week-mode) td.pick .next,.day-table.is-week-mode>tbody tr.pick .last,.day-table.is-week-mode>tbody tr.pick .next{background-color:#13a474;color:#fff}.month-table{padding:15px 17px}.month-table tr{display:flex;font-size:12px}.month-table tr td{width:70px;height:45px;line-height:45px;text-align:center}.month-table:not(.is-quarter-mode) tr>td.disabled,.month-table.is-quarter-mode>tbody tr.disabled{cursor:not-allowed;background-color:#eee}.month-table:not(.is-quarter-mode) tr>td:not(.disabled),.month-table.is-quarter-mode>tbody tr:not(.disabled){cursor:pointer}.month-table:not(.is-quarter-mode) tr>td:not(.pick):hover,.month-table.is-quarter-mode>tbody tr:not(.pick):hover{background-color:rgba(19,164,116,.2)}.month-table:not(.is-quarter-mode) td.pick,.month-table.is-quarter-mode>tbody tr.pick{background-color:#13a474;color:#fff}.year-table{padding:10px 12px}.year-table tr{display:flex;font-size:12px}.year-table tr td{width:55px;height:50px;line-height:50px;text-align:center;color:#324558}.year-table tr td:not(.disabled){cursor:pointer}.year-table tr td:not(.disabled).pick{background-color:#13a474;color:#fff}.year-table tr td:not(.disabled):not(.pick):hover{background-color:rgba(19,164,116,.2)}.year-table tr td.disabled{cursor:not-allowed;background-color:#eee}.year-table tr td.hide{visibility:hidden}
.input-box{position:relative;display:flex;align-items:center}.input-box>input{height:32px;line-height:32px;border:1px solid #ddd;border-radius:4px;font-size:14px;padding:0 10px}.input-box>input:focus{outline:0;border-color:#13a474}.input-box>input::placeholder{font-size:12px;color:#bbb}.input-box .input-icon{position:absolute;right:10px;color:#ddd;cursor:pointer}
