@import "./color.scss";

.picker-panel {
	color: $c-datepicker-text;
	border: 1px solid $c-datepicker-border;
	box-shadow: 0 2px 6px $c-datepicker-border;
	background: $c-datepicker-white;
	border-radius: 2px;
	line-height: 20px;
	margin: 5px 0;

	.date-time-panel {
		border-left: 1px solid $c-datepicker-border;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 15px 10px 0;
		color: $c-datepicker-td-text;

		.icon-btn {
			border: 0;
			cursor: pointer;
			outline: none;
			padding: 3px 4px;
			color: $c-datepicker-text;
			background-color: $c-datepicker-white;
			font-size: 14px;

			&:hover {
				color: var(--c-datepicker-primary);
			}
		}

		.date-label {
			padding: 0 12px;
			display: flex;
			justify-content: center;
			font-size: 14px;

			>div {
				margin: 0 5px;

				&:not(.disabled) {
					cursor: pointer;
				}
				
				&:not(.disabled):hover {
					color: var(--c-datepicker-primary);
				}
			}
		}
	}
}   

