:root {
  --c-datepicker-primary: rgb(19,164,116);
  --c-datepicker-primary-light: rgba(19,164,116,0.1);
}

$c-datepicker-white: #fff;
$c-datepicker-text: #111;
$c-datepicker-border: #eee;
$c-datepicker-icon: #ddd;
$c-datepicker-th-text: #888;
$c-datepicker-td-text: #333;
$c-datepicker-td-disabled-text: #aaa;
$c-datepicker-td-disabled-background: #eee;
