$c-primary: #13a474;
$c-primary-2: rgba(#13a474,0.2);

$c-white:#FFF;

$c-111: #111;
$c-aaa: #AAA;
$c-bbb: #BBB;
$c-ccc: #CCC;
$c-dc: #dcdcdc;
$c-ddd: #DDD;
$c-eee: #EEE;
$c-n1: #f5f7fa;

$c-939EA9: #939ea9;
$c-324558: #324558;
$c-E4E4E4: #E4E4E4;

$c-inner-border: $c-E4E4E4;
$c-th-text: $c-939EA9;
$c-td-text: $c-324558;
$c-td-disabled-text: $c-939EA9;
$c-td-disabled-background: $c-eee;
$c-input-color:$c-324558;
$c-input-border-color:$c-ddd;
