@import './color.scss';

.daterange-panel {
  color: $c-datepicker-text;
  border: 1px solid $c-datepicker-border;
  box-shadow: 0 2px 6px $c-datepicker-border;
  background: $c-datepicker-white;
  border-radius: 2px;
  line-height: 20px;
  margin: 5px 0;

  > .daterange-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: $c-datepicker-text-light;
    padding: 15px;

    > .icon-close {
      font-size: 16px;
      cursor: pointer;
    }
  }

  .daterange-select-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 10px;

    .datepicker-box {
      margin-left: 20px;
    }
  }

  .daterange-tip-panel {
    padding: 0 15px;
    color: $c-datepicker-text-error;
  }
}
