@import "./color.scss";

.day-table {
	padding: 10px;
	color: $c-datepicker-td-text;
	border-collapse: separate;

	tr {
		display: flex;

		th {
			width: 32px;
			height:  32px;
			line-height: 32px;
			color: $c-datepicker-th-text;
			font-weight: normal;
			text-align: center;
		}

		td {
			width: 32px;
			height:  32px;
			line-height: 32px;
			text-align: center;

			&.last,
			&.next {
				color: $c-datepicker-td-disabled-text;
			}
		}
	}

	&:not(.is-week-mode) tr > td,
	&.is-week-mode > tbody tr {

		&.disabled {
			cursor: not-allowed;
			background-color: $c-datepicker-td-disabled-background;
		}

		&:not(.disabled) {
			cursor: pointer;
		}

		&:not(.pick):hover {
			background-color: var(--c-datepicker-primary-light);
		}
	}

	&:not(.is-week-mode) td.pick, 
	&.is-week-mode > tbody tr.pick {
		background-color: var(--c-datepicker-primary);
		color: $c-datepicker-white;
		
		.last,
		.next {
			background-color: var(--c-datepicker-primary);
			color: $c-datepicker-white;
		}
	}
}