@import "Scss/color.scss";

.input-box {
  position: relative;
  display: flex;
  align-items: center;

  > input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: 1px solid $c-datepicker-border;
    border-radius: 4px;
    padding: 0 10px;

    &:focus {
      outline: 0;
      border-color: var(--c-datepicker-primary);
    }

    &::placeholder {
      color: $c-datepicker-text-light;
    }
  }

  .input-icon {
    position: absolute;
    right: 10px;
    color: $c-datepicker-icon;
    cursor: pointer;
    font-size: 14px;
  }
}
