@import "./color.scss";

.month-table {
	padding: 15px 17px;
	border-collapse: separate;

	tr {
		display: flex;

		td {
			width: 70px;
			height:  45px;
			line-height: 45px;
			text-align: center;
		}
	}

	&:not(.is-quarter-mode) tr > td,
	&.is-quarter-mode > tbody tr {
		
		&.disabled {
			cursor:not-allowed;
			background-color: $c-datepicker-td-disabled-background;
		}

		&:not(.disabled) {
			cursor: pointer;
		}

		&:not(.pick):hover {
			background-color: var(--c-datepicker-primary-light);
		}
	}

	&:not(.is-quarter-mode) td.pick,
	&.is-quarter-mode > tbody tr.pick {
		background-color: var(--c-datepicker-primary);
		color: $c-datepicker-white;
	}
}