@import '../asset/font/iconfont.css';

.datepicker-box,
.timepicker-box,
.daterangepicker-box {
  font-family: 'PingFang SC, Microsoft Yahei';
  position: relative;
  font-size: 12px;
}

.datepicker-box,
.timepicker-box {
  width: 168px;
}

.daterangepicker-box {
  width: 280px;
}

.ani-fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
