@import 'Asset/font/iconfont.css';

.datepicker-box,
.timepicker-box {
  width: 168px;
  position: relative;
  font-size: 12px;
}

.daterangepicker-box {
  width: 280px;
  position: relative;
  font-size: 12px;
}

.ani-fade-in {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
