@import "./color.scss";

.time-panel {
  .action-panel {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;

    .hour-panel,
    .minute-panel,
    .second-panel {
      width: 60px;
      height: 260px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:not(:last-child)::after {
        content: ":";
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  
    .label { 
      display: flex;
      justify-content: center;
    }
  
    .input-panel {
      display: flex;
      justify-content: center;
  
      > input {
        box-sizing: content-box;
        width: 16px;
        height: 28px;
        line-height: 24px;
        border: 1px solid $c-datepicker-border;
        border-radius: 4px;
        padding: 0 8px;
        cursor: not-allowed;
  
        &:focus {
          outline: 0;
        }
    
        &::placeholder {
          color: $c-datepicker-text;
        }
      }
    }
  
    .slider-panel {
      display: flex;
      justify-content: center;
      height: 100%;
      padding: 15px 0 5px;
      margin-right: 20px;
    }
  }

  .btn-panel {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
    border-top: 1px solid $c-datepicker-border;

    .btn-cancel,
    .btn-ok {
      &:hover {
        cursor: pointer;
      }
    }

    .btn-ok {
      margin-left: 15px;
      color: var(--c-datepicker-primary);
      cursor: pointer;
    }
  }
}

.rc-slider-handle {
  border: solid 3px var(--c-datepicker-primary);

  &:hover {
    border-color: var(--c-datepicker-primary);
  }

  &.rc-slider-handle-dragging {
    border-color: var(--c-datepicker-primary) !important;
    box-shadow: 0 0 0 5px var(--c-datepicker-primary-light) !important;
  }
}

.rc-slider-rail {
  background-color: $c-datepicker-border;
}

.rc-slider-track {
  background-color: $c-datepicker-border;
}

.rc-slider-dot-active {
  border-color: $c-datepicker-border;
}
