@import "./color.scss";

.time-panel {
  .action-panel {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .hour-panel,
    .minute-panel,
    .second-panel {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:not(:last-child)::after {
        content: ":";
        position: absolute;
        top: 13px;
        right: 0;
      }
    }
  
    .label { 
      display: flex;
      justify-content: center;
      font-size: 12;
    }
  
    .input-panel {
      display: flex;
      justify-content: center;
      padding-top: 8px;
  
      > input {
        width: 16px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        padding: 0 8px;
        cursor: not-allowed;
  
        &:focus {
          outline: 0;
        }
    
        &::placeholder {
          font-size: 12px;
          color: #bbb;
        }
      }
    }
  
    .slider-panel {
      display: flex;
      justify-content: center;
      height: 250px;
      padding: 15px 0 5px;
      margin-right: 20px;
    }
  }

  .btn-panel {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
    border-top: 1px solid $c-inner-border;
    font-size: 12px;

    .btn-cancel,
    .btn-ok {
      &:hover {
        cursor: pointer;
      }
    }

    .btn-ok {
      margin-left: 15px;
      color: $c-primary;
      cursor: pointer;
    }
  }
}

.rc-slider-handle {
  border: solid 3px $c-primary;

  &:hover {
    border-color: $c-primary;
  }

  &.rc-slider-handle-dragging {
    border-color: $c-primary !important;
    box-shadow: 0 0 0 5px $c-primary-2 !important;
  }
}

.rc-slider-rail {
  background-color: $c-eee;
}

.rc-slider-track {
  background-color: $c-eee;
}

.rc-slider-dot-active {
  border-color: $c-eee;
}
