@import "./color.scss";

.year-table {
	padding: 10px 12px;
	border-collapse: separate;

	tr {
		display: flex;

		td {
			width: 55px;
			height:  50px;
			line-height: 50px;
			text-align: center;
			color: $c-datepicker-td-text;

			&:not(.disabled) {
				cursor: pointer;

				&.pick {
					background-color: $c-datepicker-primary;
					color: $c-datepicker-white;
				}

				&:not(.pick):hover {
					background-color: $c-datepicker-primary-light;
				}
			}

			&.disabled {
				cursor:not-allowed;
				background-color: $c-datepicker-td-disabled-background;
			}
			
			&.hide {
				visibility: hidden;
			}
		}
	}
}